.root{
    -fx-border-color: transparent;
    /*-fx-base:#2E3440;*/
}
* {
    /*-fx-focus-color: transparent;*/
    /*-fx-border-style: none;*/
    /*-fx-background-radius: 0.0px;*/
    /*-fx-border-radius: 0.0px;*/
}
.text-area {
    -fx-text-fill:black;
}
.text-area .content {
    /*-fx-background-color:  #1C1E26;*/
}





/*********************************************************** CLASSES *********************************************************************/
#visualBackground{
    -fx-background-color: dimgray;
}
#sidebar{
    -fx-pref-width: 100px;

    /*-fx-background-color: #1C1E26;*/
}
.sideBarButton {
    -fx-pref-height: 40px;
    -fx-pref-width: 100px;
}

.vertexLabel {
    -fx-font-size: 20;
}


.visEdgeLabel{

    -fx-font-size: 20;
    -fx-fill: coral;
    -fx-font-weight: bold;
}
.stausLabel{
    -fx-font-size: 20;
    -fx-fill: coral;
    -fx-font-weight: bold;
}